.main-container {
	padding-top: 40px;
}

.recipe-created-time-ago {
	padding-left: 5px;
	size: small;
}

.recipe-box {
	border: solid #ECFFEC 4px;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

.recipe-box:hover {
	border-color: #98FF98;
}