<template name="editRecipe">
<div class="page-header">
	<h1>
		{{recipeName}}&nbsp;<small>{{formatTimeAgo submittedOn}}</small>
		<button type="button" id="delete-recipe-btn" data-target="#confirm-modal" data-toggle="modal" class="btn btn-primary btn-danger pull-right">Delete</button>
	</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h3>Ingredients</h3>
			<div>
				<div class="row">
					<div class="form-inline ingredients-form">
							<input type="text" id="new-ingredient-quantity" class="form-control small-input" placeholder="quantity" />
							<input type="text" id="new-ingredient-description" class="form-control" placeholder="ingredient" />
							<button type="button" id="add-ingredient-button" class="btn btn-primary">
								<span class="glyphicon glyphicon-plus"></span>
								Add
							</button>
					</div>
				</div>
				<div class="row">
					<div class=" ingredients-list container-fluid">
						{{#each ingredients}}
							<div class="row">
								<span class="col-lg-3">{{quantity}}</span>
								<span class="col-lg-9">{{description}}</span>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-8">
			<h3>Preperation Steps</h3>
			<div>
				<div class="row">
					<div class="form-inline">
						<textarea id="new-prep-step-textarea" rows="1" class="form-control" placeholder="Preperation step" min-length="1"></textarea>
						<button type="button" id="add-prep-step-button" class="btn btn-primary">
							<span class="glyphicon glyphicon-plus"></span>
							Add
						</button>
					</div>
				</div>
				<div class="row steps-list">
					{{#each indexedArray preperationSteps}}
						<div class="row">
							<div class="col-lg-1 preperation-step-index">{{_index}}</div>
							<div class="col-lg-11">{{stepText}}</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

{{>confirmDialog}}
</template>