  <template name="main">
  {{#if currentUser}}
    <h2>Your Recipes
      <button type="button" id="add-recipe-button" class="btn btn-primary" data-toggle="modal" data-target="#add-recipe-name-modal">Add recipe</button>
    </h2>
    <div class="container">
      <div class="row">
        {{#if userRecipes.count}}
          {{#each userRecipes}}
            {{> recipe}}
          {{/each}}
        {{else}}
          <p>No recipes yet</p>
        {{/if}}
      </div>
    </div>
  {{/if}}
  {{#unless currentUser}}
    <div class="well">
      {{> loginButtons}}
    </div>
  {{/unless}}

  <!-- Modal recipe name modal-dialog -->
  <div class="modal fade" id="add-recipe-name-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modal-title">A new recipe!</h4>
        </div>
        <div class="modal-body">
          <input type="text" id="recipe-name-input" class="form-control autofocus" placeholder="Recipe name..." />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" data-dismiss="modal" id="add-recipe-continue-button">Continue</button>
        </div>
      </div>
    </div>
  </div>
</template>
