  <template name="main">
  {{#if currentUser}}
    <button type="button" id="add-recipe-button" class="btn btn-primary" data-toggle="modal" data-target="#add-recipe-name-modal">Add recipe</button>

    <h2>Your Recipes</h2>
    {{#each userRecipes}}
      {{> recipe}}
    {{/each}}
  {{/if}}
  {{#unless currentUser}}
    <div class="well">
      {{> loginButtons}}
    </div>
  {{/unless}}

  <!-- Modal -->
  <div class="modal fade" id="add-recipe-name-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modal-title">A new recipe!</h4>
        </div>
        <div class="modal-body">
          <input type="text" id="recipe-name-input" class="form-control" placeholder="Recipe name..." />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-recipe-continue-button">Continue</button>
        </div>
      </div>
    </div>
  </div>
</template>
